.advanced-search-form {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .filter-fields {
      margin-left: 5%;
    }
    .filter-buttons {
      margin-top: 20px;
      button {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
