.items {
  display: flex;
  flex-direction: column;
  margin-top: 126px;
  padding-top: 10px;
  max-width: 100vw;
  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    height: 25vh;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 25px;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .item-thumbnail {
      height: 100%;
      padding: 15px;
      width: 40%;
      img {

      }
    }
    .item-body {
      display: flex;
      flex-direction: row;
      width: 60%;
      height: 100%;
      padding: 10px;
      padding-left: 0;
      .item-name-and-description {
        display: flex;
        flex-direction: column;
        padding: 10px;
        .item-name {

        }
        .item-description {
          font-size: 0.75em;
        }
      }
      .item-listing-detail {
        display: flex;
        flex-direction: column;
        padding: 10px;
        .item-price {

        }
        .item-details {
          font-size: 0.75em;

        }
      }
    }
  }
}


