.item-details-and-comments {
  margin-top: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .item-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin-left: 24%;
    h2 {
      font-family: 'Ubuntu Condensed', sans-serif;
      text-align: center;
    }
    .item-name-and-image {
      img {
        padding: 7px;
      }
    }
    .item-detail-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align:center;
      padding-bottom: 10px;
      border-bottom: 1px solid black;
      span {
        font-size: 0.8em;
      }
        .add-to-favorites {
          &:hover {
            margin-left: 5px;
            cursor: pointer;
          }
          img {
            height: 10px;
            width: 10px;
          }
        }
      }
    }
    .comment-section {
      display: flex;
      flex-direction: column;
      width: 30%;
      h4 {
        padding-left: 100px;
      }
    }
}

